.appRoot {
  min-height: 100vh;
}

.repoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 12px;
}

.repoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
